@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 70px;
  height: 70px;
  background-image: url('');
  background-size: cover;
  margin-right: 20px;
}

.nav-item {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 0 10px;
  font-weight: bold;
}

.nav-item:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
}

main {
  background-color: #F0F0F0;
  height: calc(100vh - 210px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-text {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px;
  }
}
footer {
  background-color: #E9EBEE;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
  text-align: center;
  color: #555;
}

