<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>About Us</title>
	<link rel="stylesheet" href="../stylesheet/main.css">
</head>
<body>
    <header>
        <div class="logo"></div>
        <nav>
          <a class="nav-item" href="../template/main.html">Home</a>
          <a class="nav-item active" href="#">About</a>
          <a class="nav-item" href="../template/order.html">Order</a>
          <a class="nav-item" href="../template/contact.html">Contact</a>
          <a class="nav-item" href="../template/faq.html">FAQ</a>
        </nav>
      </header>
      
	<main>
	  <div class="animation-text">
	    <h1>About Us</h1>
	    <p>We are a company that specializes in buying cars from Dubai and importing them to Latvia. Our mission is to provide the highest quality service to our customers, ensuring that their car buying experience is smooth and hassle-free.</p>
	  </div>
	</main>
	<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2023 DubaiLV. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
