<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>DubaiLV</title>
	<link rel="stylesheet" href="../stylesheet/main.css">
</head>
<body>
	<header>
	  <div class="logo"></div>
	  <nav>
	    <a class="nav-item" href="#">Home</a>
	    <a class="nav-item" href="#">About</a>
	    <a class="nav-item" href="#">Order</a>
	  </nav>
	</header>
	<main>
	  <div class="animation-text">
	    <h1>Welcome to DubaiLV</h1>
	    <p>We buy cars from Dubai and import them to Latvia.</p>
	  </div>
	</main>
	<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2023 DubaiLV. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
